 /* Navbar Navigation Links */

 .navLinks{
    text-decoration: none;
    background-color: #333;
    color: #fff;
} 

.navLinks:hover{
    color: #ff9900;
}

@media (max-width: 738px) {
    
    .navLinks{
        border-bottom: 1px solid #ff9900;
    }    
    
    .navLinks:hover{
        color: #ff9900;
        border-bottom: 1px solid #fff;
        }
}